#grid
{
    display: grid;
    grid-template-columns:  auto auto;
    grid-gap: 40px;
    text-align: center;
    /* margin-left: 130px; */
}

#ha{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin-top: 30px;
}
#fs{
    width: 250px;
    height: 300px;
    border-radius: 20px;
    margin-top: 30px;
}
#st{
    width: 250px;
    height: 300px;
    border-radius: 20px;
    margin-top: 30px;
}
#am{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin-top: 30px;
}

#product{
    width: 150px;
    height: 100px;
    border-radius: 20px;
    background-color: #af4c6d;
    color: white;
    font-size: medium;
    margin-left:600px;
    
    
}

button{
    background-color: rgb(5, 37, 177);
    border-radius: 20px;

}


.image{
    cursor: pointer;
    transition: transform 1s ease-in-out;
    
}
.image:hover{
  
        
    transform: scale(1.3);
}


